.entry__link {
  text-align: center;
  padding-top: 15px;
  text-decoration: none;
  color: white;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  transition: opacity .3s ease;
}

.entry__link:hover {
  opacity: .6;
}