.profile__about {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 415px;
}

@media screen and (max-width: 767px) {
  .profile__about {
    text-align: center;
  }
}

@media screen and (max-width: 618px) {
  .profile__about {
    font-size: 14px;
    line-height: 17px;
    max-width: 275px;
  }
}