.footer {
  padding-bottom: 60px;
  margin: auto;
}

@media screen and (max-width: 919px) {
  .footer {
    max-width: 581px;
  }
}

@media screen and (max-width: 618px) {
  .footer {
    padding-bottom: 36px;
    max-width: 282px;
  }
}